

@media only screen and (max-width: 1452px) {
    .container {
        width: 1152px !important;
    }
}

@media only screen and (max-width: 1152px) {
    .container {
        width: 800px !important;
    }
}

@media only screen and (max-width: 804px) {
    .container {
        width: 600px !important;
    }
}

* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    margin: 0;
    background-color: #ebeced;
    display: block;
    width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1440px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*************width*************/
.wi-25 {
    width: 25%;
    min-width: 25%;
}
.wi-35 {
    width: 35%;
    min-width: 35%;
}
.wi-45 {
    width: 45%;
    min-width: 45%;
}
.wi-75 {
    width: 75%;
    min-width: 75%;
}
.wi-100 {
    width: 100%;
    min-width: 100%;
}
/********************************/