header {
    display: block;
    background-color: white;
    box-shadow: 2px 4px 37px 2px $block;
    z-index: 100;
    position: sticky;
    top:0;

    @media only screen and (max-width: $smallBreakpoint) {
        font-size: 9px;
    }

    @media only screen and (max-width: $mediumBreakpoint) {
        font-size: 10px;
    }

    #header {
        padding: 20px 15px 20px 15px;
    }

    #logo-holder {
        width: 86px;
        height: 44px;
    }
    
    #user-image {
        width: 44px;
        height: 44px;
        cursor: pointer;
        border-radius: 50%;
        overflow: hidden;
        margin-left: 5px;
        margin-right: 10px;
    }
    
    #user-data {
        font-size: 13px;
        color: #6f7881;
        font-weight: 500;
    }

    .search-container {
        form {
            position: relative;
            overflow: hidden;
            border-radius: 3px;
            border-radius: 3px;
        }

        input {
            padding: 8px 12px 8px 73px;
            border: 1px solid #dedfe0;
            border-radius: 3px;
            color: #505B67;
            font-weight: 300;
            background-color: #f2f2f2;
            font-size: 16px;
            outline: none;
        }

        @media only screen and (max-width: $smallBreakpoint) {
            input::placeholder {
                font-size: 9px;
            }
        }

        @media only screen and (max-width: $mediumBreakpoint) {
            input::placeholder {
                font-size: 10px;
            }
        }

        button {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            cursor: pointer;
            color: #b1b6bb;
            font-size: 24px;
            width: 44px;
            border: 1px solid #dedfe0;
        }
    }
}