@media only screen and (max-width: 804px) {
    #filter-side label {
        font-size: 10px;
    }
}

#filter-side aside {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0 1px 2px 0 rgb(25 25 25 / 20%);
}
#filter-side {
    margin-left: 10px;
}
#filter-side input[type=button] {
    height: 100%;
    background: none;
    border: none;
    width: 100%;
    cursor: pointer;
    margin: 5px auto;
}
#filter-side h4 {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#filter-side div {
    margin-bottom: 15px;
    font-size: 14px;
}
#filter-side input[type=checkbox] {
    accent-color: #752183;
}