.category-section {
    position: relative;
    margin: 70px auto;

    .category-section-content {
        padding: 20px;
        position: relative;
        margin-top: 20px !important;
    }
    .category-section-title {
        padding: 10px;
        font-size: 20px;
        font-weight: 500;
        border-bottom: 1px solid #b3b6b9;
    }
}