/***********report-section************/
#report-section {
    background-color: white;
    padding: 20px;
    box-shadow: 0 1px 2px 0 $block;
    margin-top: 25px;
    border-radius: 8px;
}
.report-section-item {
    font-size: 16px;
    text-align: center;

    i {
        color: #383d48;
        font-size: 28px;
        margin-bottom: 22px;
    }

    i:hover {
        color: $purple;
    }
}
/*********************************/

/***********course-section************/
#course-section {
    background-color: white;
    padding: 20px 10px;
    border-radius: 8px;
    margin-right: 10px;
    box-shadow: 0 1px 2px 0 $block;

    @media only screen and (max-width: $largeBreakpoint) {
        .category-title, .category-title-teacher {
            font-size: 9px;
        }
    }

    .category-card {
        padding: 40px 10px;
        width: 23%;
        margin-bottom: 44px;
    }

    img {
        width: 100%;
        height: 180px;
        margin-bottom: 20px;
    }
}
/*********************************/

/***********main-content************/
.main-content {
    margin: 40px auto;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
/*********************************/