// Fonts
$sansSerif  : 'Iranian Sans';

// Font Sizing


// Colors
$lightGray   : #ebeced;
$darkGray   : #495057;
$purple : #752183;
$block: #19191933;

// Spacing


// Breakpoints
$smallBreakpoint : 804px;
$mediumBreakpoint : 1157px;
$largeBreakpoint : 1455px;